body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.button {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    --hover-brightness: 90%;
    --active-brightness: 80%;
}

.button:hover {
    filter: brightness(var(--hover-brightness));
}

.button:active {
    filter: brightness(var(--active-brightness));
}

.centering {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.hoverable {
    --hover-brightness: 90%;
}

.hoverable:hover {
    filter: brightness(var(--hover-brightness));
}

#background {
    display: grid;
    grid-template-columns: 100px auto;
    width: 100%;
    height: 100%;
    background-color: azure;
}

#sidebar {
    width: 100px;
    height: 100%;
    background-color: antiquewhite;
}

#content {
    flex: 1;
    overflow: auto;
    background-color:#f0f0f0;
    z-index: 0;
}

.menu {
    display: flex;
    height: 100%;
    background-color: aliceblue;
    flex-direction: column;
}

.menu-item {
    position: relative;
}

.submenu-head {
    height: 50px;
    background-color: azure;
}

.submenu {
    height: 0px;
    background-color: aliceblue;
    transition: height 0.6s ease;
    overflow: hidden;
}

.submenu-item {
    background-color: #fff;
    height: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: lemonchiffon;
}

.profile img {
    width: 200px; /* 设置宽度为 100 像素 */
    height: 200px; /* 设置高度为 100 像素 */
}

.works {
    min-height: calc(100% - 300px - 20px); /* 设置works区域的最小高度为剩余空间的高度 */
    padding: 10px; /* 设置作品区域的内边距 */
    background-color: linen;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 从左向右排列 */
    align-content: flex-start; /* 从上向下排列 */
}

.work {
    width: calc(20% - 20px); /* 每行5个作品，减去间距 */
    height: 200px; /* 作品高度 */
    margin: 10px; /* 设置作品之间的间距 */
    background-color: lightblue;
}

.new-work {
    width: calc(20% - 20px); /* 每行5个作品，减去间距 */
    height: 200px; /* 作品高度 */
    margin: 10px; /* 设置作品之间的间距 */
    background-color: lightblue;
}
